<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<body>
    <!--Content body-->
    <div layout:fragment="content">
        <h1>Hello Page</h1>

    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/main.js"></script>

    <!--Custom javascript-->
    <th:block layout:fragment="script">
    <!--아무런 태그가 없는 영역을 표시할 때 사용한다.-->
    <script>
        alert("Java Script Block");

    </script>
    </th:block>
    <!--
    Content body, Custom javascript 표현 영역은 매번 페이지 제작 시 변경되는 영역이다.

    -->

</body>
</html>